<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos Application</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>{{ current_user.username }}'s Top Page</h1>
    </header>
    <main>
      <section id="todo-list">
        <h2>Todo List</h2>
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th class="title">Title</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Updated at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todos %}
            <tr>
              <td>{{ loop.index }}</td>
              <td class="title">{{ todo.todo_title }}</td>
              <td>{{ todo.todo_status }}</td>
              <td>{{ todo.todo_priority }}</td>
              <td>{{ todo.updated_at.strftime('%Y/%m/%d %H:%M') }}</td>
              <td>
                <form method="post" action="{{ url_for('todo.delete_todo', todo_id=todo.id) }}">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form action="{{ url_for('todo.create_todo') }}" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" name="status" required >
                <option value="起票">起票</option>
                <option value="対応中">対応中</option>
                <option value="完了">完了</option>
            </select>
          </div>
          <div class="form-group">
            <label for="priority">Priority</label>
            <select id="priority" name="priority" required >
                <option value="緊急">緊急</option>
                <option value="高">高</option>
                <option value="中">中</option>
                <option value="低">低</option>
            </select>
          </div>
          </div>
          <button type="submit">Add</button>
        </form>
      </section>
    </main>
  </body>
</html>
